<nav class="navbar nav-stacked sidebar" role="navigation">
  <div class="collapse navbar-collapse" id="sidebar-nav">
    <ul class="nav navbar-nav">
      <li class="nav-spacer">&nbsp;</li>
      <li><i class="fa fa-users"></i><span><a href="/">Sample Link</a></span></li>
      <li><i class="fa fa-file-image-o"></i><span><a href="/">Sample Link</a></span></li>
      <li><i class="fa fa-cloud-upload"></i><span><a href="/">Sample Link</a></span></li>
      <li id="g1">
        <a class="accordion-toggle" data-parent="#g1" data-target="#example-pages-g1" data-toggle="collapse" href="#" aria-expanded="true"><i class="fa fa-info-circle"></i>Example Pages <i class="caret"></i></a>
        <ul class="accordion-body collapse in" id="example-pages-g1" aria-expanded="true">
          <li><a href="/samples/forms">Forms</a></li>
          <li><a href="/samples/details">Detials</a></li>
          <li><a href="/samples/listings">Listings</a></li>
          <li>
            <a class="accordion-toggle collapsed" data-parent="#g1" data-target="#accordion-g1" data-toggle="collapse" href="#" aria-expanded="false">Dropdown <i class="caret"></i></a>
            <ul class="accordion-body collapse" id="accordion-g1" aria-expanded="false" style="height: 1px;">
              <li><a href="#">Sample Link</a></li>
              <li><a href="#">Sample Link</a></li>
              <li><a href="#">Sample Link</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><i class="fa fa-file"></i><span><a href="/">Sample Link</a></span></li>
      <li id="g2">
        <a class="accordion-toggle" data-parent="#g2" data-target="#example-pages-g2" data-toggle="collapse" href="#" aria-expanded="true"><i class="fa fa-info-circle"></i>Example Pages <i class="caret"></i></a>
        <ul class="accordion-body collapse in" id="example-pages-g2" aria-expanded="true">
          <li><a href="/samples/forms">Forms</a></li>
          <li><a href="/samples/details">Detials</a></li>
          <li><a href="/samples/listings">Listings</a></li>
          <li>
            <a class="accordion-toggle collapsed" data-parent="#g2" data-target="#accordion-g2" data-toggle="collapse" href="#" aria-expanded="false">Dropdown <i class="caret"></i></a>
            <ul class="accordion-body collapse" id="accordion-g2" aria-expanded="false" style="height: 1px;">
              <li><a href="#">Sample Link</a></li>
              <li><a href="#">Sample Link</a></li>
              <li><a href="#">Sample Link</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>